body{
    background-image:linear-gradient( 90deg,rgba(70, 131, 180, 0.429) 100%, #ffffff7a 20%), url(/Img/Servicio_Social.png);
}

.form-boton{
    display: inline-block;
    width: auto;
    padding: 0;
    border: none;
    border-radius: 8px;
    margin: 0;
}

.img-fluid{
    margin: auto;
    padding: auto;
    width: 85px;
}

.form-boton:hover {
    background-color: rgb(88, 196, 129);
    transition: 0.3s;
}

